/*Page specific styles*/
#grid {
    overflow: hidden;
	padding: 0px 18px;
	animation-duration: 1.5s;
	animation-delay: 0.3s;
}
.item {
	position: relative;
	/*padding: 15px;*/
	padding: 32px 37px;
	background: #fff;
	margin: 18px;
	border-radius: 6px;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.05);
	margin: 30px 18px;
}
.item p {
	color: #999;
}
.itemTitle {
	font-size: 16px;
	font-weight: 700;
	color: #535353 !important;
	padding-bottom: 2px;
}
.itemDescription {
	font-size: 14px;
	font-weight: 400;
	color: #999 !important;
}
.item:nth-child(1), .item:nth-child(2), .item:nth-child(3) {
	margin-top: 4px;
} 

.column {
    float: left;
}

.size-1of3 {
    width: 30%;
}
.size-2of3 {
	width: 30%;
}
.size-3of3 {
	width: 40%;
}
.size-1of2 {
    width: 50%;
}
.size-1of1 {
    width: 100%;
}
.column:nth-child(1) {
	width: 30%;
}
.column:nth-child(2) {
	width: 30%;
}
.column:nth-child(3) {
	width: 40%;
}
#test-circle2 {
	width: 370px;
}
.percentageContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -10px;
	margin-top: -40px;
}
.timer tspan {
	font-size: 20px;
	font-weight: 600;		
	font-family: 'Open Sans', sans-serif;		
}
.yWeight p, .gWeight p, .cGoal p, .yWeight span, .gWeight span, .cGoal span {
	font-size: 14px;
	font-weight: 400;		
	font-family: 'Open Sans', sans-serif;
	color: #999;
}
.yWeight span, .gWeight span, .cGoal span {
	font-size: 14px;
	font-weight: 600;		
	font-family: 'Open Sans', sans-serif;
	background-color: #27AC9D;
	color: #fff !important;
	padding: 4px 16px;
	border-radius: 100px;
	margin-left: 6px;
	cursor: pointer;
}
.yWeight, .gWeight, .cGoal {
	padding: 9px 16px;
	display: inline-block;
}
.statInfo {
	text-align: center;
}
.yWeight span {
	background-color: #F2C158;
}
.ghostContainer {
	visibility: hidden;
}
.tipOfTheDayCon {
	background: rgba(43,153,165,1);
	background: -moz-linear-gradient(left, rgba(43,153,165,1) 0%, rgba(39,164,160,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,153,165,1)), color-stop(100%, rgba(39,164,160,1)));
	background: -webkit-linear-gradient(left, rgba(43,153,165,1) 0%, rgba(39,164,160,1) 100%);
	background: -o-linear-gradient(left, rgba(43,153,165,1) 0%, rgba(39,164,160,1) 100%);
	background: -ms-linear-gradient(left, rgba(43,153,165,1) 0%, rgba(39,164,160,1) 100%);
	background: linear-gradient(to right, rgba(43,153,165,1) 0%, rgba(39,164,160,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b99a5', endColorstr='#27a4a0', GradientType=1 );
}
.tipOfTheDayTitle, .tipOfTheDayDesc {
	color: #fff !important;
}
.tipOfTheDayDesc {
	font-weight: 300 !important;
}
.tipImage {
	background-image: url(../images/tipOfTheDay.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 97px;
	float: left;
}
.tipOfTheDayMore {
	font-weight: 400;
	color: #FFDC73;
	font-size: 14px;
	font-style: italic;
	text-decoration: underline;
}
.marginTotd {
	margin-left: 100px;
}
.editButtonContainer {
	text-align: center;
	padding: 30px 0px 3px 0px;
}
.editButtonContainer button {
	background-color: #fff;
	border: 2px solid #29A1A1;
	padding: 10px;
	width: 100px;
	border-radius: 100px;
	color: #444444;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;	
}
.detailButtonContainer {
	text-align: center;
	padding: 0px 0px 40px 0px;
}
.detailButtonContainer button, .detailRecButtonContainer button {
	background-color: #fff;
	border: 2px solid #aaaaaa;
	padding: 10px;
	width: 160px;
	border-radius: 100px;
	color: #aaaaaa;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.overviewCon {
  animation-delay: 100ms;
  animation-duration: 1.2s;
}
.waterCon {
  animation-delay: 300ms;
  animation-duration: 1.2s;
}
.wellCon {
  animation-delay: 500ms;
  animation-duration: 1.2s;
}
.lwSummaryCon {
  animation-delay: 700ms;
  animation-duration: 1.2s;
}
.macrosCon {
  animation-delay: 900ms;
  animation-duration: 1.2s;
  padding: 0px !important;
  overflow: hidden;
}
.tipOfTheDayCon {
  animation-delay: 1100ms;
  animation-duration: 1.2s;
}
.recipeCon {
  animation-delay: 1300ms;
  animation-duration: 1.2s;
}

.wellNumber, .improvementNumber {
	padding: 2px 8px;
    color: #fff !important;
    margin-right: 6px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 700;
}
.wellNumber {
    background: #2ECC71;
}
.improvementNumber {
	background: #E74C3C;
}
circle:first-child {
	fill: url(#circle-gradient) #447799;
}
.wellList, .notWellList {
	list-style: none;
	margin-left: 20px;
	color: #999999;
	font-size: 14px;
	font-weight: 400;
}
.wellList li::before {
	content: "\2022";
	color: #2CCC71;
	font-weight: 700;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}
.notWellList li::before {
	content: "\2022";
	color: #E54C3A;
	font-weight: 700;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}
.wellListCon, .notWellListCon {
	padding: 22px 0px 36px 0px;
}

.raphael-group-161-plots text tspan:nth-child(2) {
	font-size: 22px !important;
	font-weight: 600 !important;
}
.raphael-group-161-plots text tspan {
	font-size: 16px !important;
	font-weight: 300 !important;
}
.pieChartContainer {
	width: 100%;
	margin-top: -14px;
}
.tCarbs, .tFats {
	padding: 9px 12px;
	display: inline-block;
}
.tCarbs p, .tFats p, .tCarbs span, .tFats span {
	font-size: 14px;
	font-weight: 400;		
	font-family: 'Open Sans', sans-serif;
	color: #999;
}
.tCarbs span, .tFats span {
	font-size: 14px;
	font-weight: 600;		
	font-family: 'Open Sans', sans-serif;
	background-color: #34495E;
	color: #fff !important;
	padding: 4px 16px;
	border-radius: 100px;
	margin-left: 6px;
	cursor: pointer;
}
.statInfoTarget {
	padding: 8px 0px 12px 0px;
}
.macroStatsContainer {
	padding:2px 25px;
}
.macroStatsLeft {
	float:left;
}
.macroStatsLeft div {
	margin-bottom: -3px;
	margin-right: 8px;
	display:inline-block;
	width: 17px;
	height: 17px;
	background-color: green;
	border-radius: 4px;
}
.macroStatsLeft p {
	display: inline-block;
	font-size: 15px;
	color: #525252;
	font-weight: 400;
}
.macroStatsPercentage {
	float: right;
	font-size: 15px;
	color: #525252 !important;
	font-weight: 600;
}
.macroFatColour {
	background-color: #495C6F !important;
}
.macroProColour {
	background-color: #F46871 !important;
}
.macroCarbColour {
	background-color: #F3C76A !important;
}
.macroStats {
	margin: 0 auto;
	width: 250px;
	background-color: #eeeeee;
	margin-bottom: 28px;
	border-radius: 5px;
	padding: 14px 0px;
	margin-top: -20px; /*Hack because stupid svg leaves whitespace*/
}
#chart-container2 svg {
	background-color: transparent !important;
}
/*BRING THIS CODE AFTER IMPLEMENTATION OF FRONT-END AND BACK-END
.raphael-group-11-messageGroup text {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 20px !important;
}*/
.recipeContainer {
	position: relative;
	width: 100%;
	height: 216px;
	overflow: hidden;
	margin-top: 20px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.recipeContainerItem {
	position: absolute;
	top: 0;
	left: 0;
}
.recipeContainerItem img {
	-webkit-transition: 0.6s ease;
	transition: 0.6s ease;
	width: 100%;
	cursor: pointer;
}
.recipeContainer:hover .recipeContainerItem img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	filter: grayscale(15%);		  
}
.detailRecButtonContainer {
	 text-align: center;
		 padding: 28px 0px 10px 0px;
}
.recipeTitle {
	background: #3F51B5;
	padding: 15px 18px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.recipeTitle span {
	font-weight: 700;
	font-size: 18px;
	color: #fff !important;
}
.recipeTitleP {
	font-weight: 300;
	font-size: 16px;
	color: #fff !important;
}
/*.slickExtraP {
	padding: 0px 20px;
}*/
.slick-slide:focus, .slick-current:focus, .slick-active:focus {
	outline: none;
}
@media only screen and (max-width: 425px) {
	.recipeContainer {
		height: 228px !important;
	}
	.recipeContainerItem img {
		width: auto !important;
		margin-left: -47px;
		margin-top: 0px !important;
		height: 228px;
	}
}
@media only screen and (max-width: 1675px) and (min-width: 1163px) {
	.recipeContainerItem img {
		width: auto !important;
		height: 250px;
	}
}
@media only screen and (min-width: 426px) and (max-width: 764px) {
	.recipeContainerItem img {
		width: auto !important;
		height: 380px;
	}
}
@media only screen and (max-width: 750px) {
    .headerInner {
    	width: 100%;
    }
	.profileText, .logout, .settings {
		display: none;
	}
	.iconContainer {
		padding: 0px 4px;
	}
	.percentageContainer {
		margin-left: 0px !important;
	}
}
@media only screen and (max-width: 360px) {
	.percentageContainer {
		padding-top: 20px !important;
	}
}
@media only screen and (max-width: 767px) {
   #grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }
    .column {
    	width: 100% !important;
    }
    .item:nth-child(1) {
		margin-top: 18px;
	}
	#grid {
		padding: 0px 14px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
   #grid[data-columns]::before {
        content: '2 .column.size-1of2';
    }
    .column {
    	width: 50% !important;
    }
}
@media screen and (min-width: 1200px) {
   #grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}
/*@media screen and (max-width: 515px) {
   .editButtonContainer {
   		padding: 0px 0px 4px 0px !important;
   }
}*/
/* ----------- 450 - 650px ----------- */
@media screen and (min-width: 766px) and (max-width: 1643px){
	.ghostContainer {
   		display: none !important;
   }
}
@media screen and (min-width: 320px) and (max-width: 514px){
	.ghostContainer {
   		display: none !important;
   }
}

@media only screen and (max-width: 366px) {
	.pieChartContainer {
		width: 112%;
		margin-left: -6%;
	}
}
@media only screen and (max-width: 338px) {
	.pieChartContainer {
		width: 116%;
    	margin-left: -8%;
	}
}
@media only screen and (max-width: 329px) {
	.pieChartContainer {
		width: 118%;
    	margin-left: -9%;
	}
}
@media only screen and (max-width: 390px) {
	.macroStats {
		width: 220px;
	}
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select,select option:disabled {
	background-color: #fff !important;
	color: #000;
}
select option{
	color: #777;
}
select:invalid {
	color: #ccc !important;
}