/*Page specific styles*/
#grid {
    overflow: hidden;
    padding: 0px 18px;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
}
@media only screen and (max-width: 767px) {
   #grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }
    .column {
        width: 100% !important;
    }
    .item:nth-child(1) {
        margin-top: 18px !important;
    }
    #grid {
        padding: 0px 14px;
    }
}
/*@media screen and (min-width: 767px) and (max-width: 1000px) {
   #grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }
    .column {
        width: 50% !important;
    }
}*/
@media screen and (min-width: 767px) and (max-width: 1300px) {
   #grid[data-columns]::before {
        content: '2 .column.size-1of2';
    }
    .column {
        width: 50% !important;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1500px) {
   #grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
    .column {
        width: 33.333% !important;
    }
}
@media screen and (min-width: 1500px) {
   #grid[data-columns]::before {
        content: '4 .column.size-1of4';
    }
}
.item:nth-child(1), .item:nth-child(2) {
	margin-top: 4px;
} 
.column {
	float: left;
}
.size-1of5 {
    width: 25%;
}
.size-2of5 {
	width: 25%;
}
.size-3of5 {
	width: 25%;
}
.size-4of5 {
	width: 25%;
}

.size-1of2 {
    width: 50%;
}
.size-1of1 {
    width: 100%;
}
.column:nth-child(1) {
	width: 25%;
}
.column:nth-child(2) {
	width: 25%;
}
.column:nth-child(3) {
	width: 25%;
}
.column:nth-child(4) {
	width: 25%;
}

.item {
	position: relative;
	/*padding: 15px;*/
	padding: 0px;
	/*background: #fff;*/
/*	margin: 18px;*/
	margin: 30px 18px;
}
.boxShad {
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.05);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.item p {
	color: #999;
}
.itemTitle {
	font-size: 16px;
	font-weight: 700;
	color: #535353 !important;
	padding-bottom: 2px;
	padding: 32px 36px 0px 36px;
}
.weightGraph > .itemTitle:before {
	content: "";
	display: block;
	background: url("../images/icons/graphIcon1.png") no-repeat;
	width: 19px;
	height: 15px;
	float: left;
	margin: 3px 10px 0px 0px;
}
.macrosGraph > .itemTitle:before {
	content: "";
	display: block;
	background: url("../images/icons/graphIcon2.png") no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	margin: 3px 10px 0px 0px;
}
.itemDescription {
	font-size: 14px;
	font-weight: 400;
	color: #999 !important;
}
.item:nth-child(1), .item:nth-child(2), .item:nth-child(3) {
	margin-top: 4px;
}
.pageTitle {
	min-width: 115px !important;
}
.recipesImage {
	width: 100%; 
	height: 200px; 
	background-size: cover; 
	cursor: pointer;
}
.recipeStats {
	background-color: #fff; 
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 10px 11px;
	text-align: right;
}
.recipeDetail {
	padding: 8px 12px;
	background-color: #27AC9D;
	color: #fff;
	font-size: 13px;
	border-radius: 200px;
	margin: 5px 2px;
}
.recipeStats i {
	margin-right: 6px;
	font-size: 13px;
}
.recipeTitle {
	font-size: 19px;
	padding: 13px 0px;
	color: #555 !important;
	font-weight: 600;
}
.recipeServing {
	background-color: #FBB03B;
}
.recipeCarbs {
	background-color: #E74C3C;
}
.recipeFats {
	background-color: #34495E;
}
.favourite {
	background-color: #ddd;
	cursor: pointer;
}
.favourite i {
	font-size: 15px;
	color: #fff;
	margin-right: 0px !important;
}
.recipeLink:link {
	color: #555;
}

/* visited link */
.recipeLink:visited {
	color: #555;
}

/* mouse over link */
.recipeLink:hover {
	color: #555;
}

/* selected link */
.recipeLink:active {
	color: #555;
}
.favouritesBtn {
	position: absolute;
	right: 0;
	margin-right: 40px;
	padding: 10px 17px;
	border-radius: 200px;
	background-color: #FCCB7E;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.favouritesBtn i {
	font-size: 16px;
}
.favouritesBtnContainer {
	position: relative !important;
	height: 39px;
	overflow: hidden;
}
@media only screen and (max-width: 450px) {
	.favouritesBtn {
		margin-right: 32px;
	}
}