#grid {
    overflow: hidden;
    padding: 0px 18px;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
}
@media screen and (min-width: 1200px) {
   #grid[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}
@media only screen and (max-width: 767px) {
   #grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }
    .column {
        width: 100% !important;
    }
    .item:nth-child(1) {
        margin-top: 18px !important;
    }
    #grid {
        padding: 0px 14px;
    }
}
.item:nth-child(1), .item:nth-child(2) {
    margin-top: 4px;
} 

.column {
    float: left;
}

.size-1of2 {
    width: 50%;
}
.size-1of1 {
    width: 100%;
}
.column:nth-child(1) {
    width: 50%;
}
.column:nth-child(2) {
    width: 50%;
}

.item {
    position: relative;
    /*padding: 15px;*/
    padding: 0px;
    background: #fff;
    margin: 18px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.05);
    margin: 30px 18px;
}
.item p {
    color: #999;
}
.itemTitle {
    font-size: 16px;
    font-weight: 700;
    color: #535353 !important;
    padding-bottom: 2px;
    padding: 32px 36px 0px 36px;
}
.itemDescription {
    font-size: 14px;
    font-weight: 400;
    color: #999 !important;
    padding: 0px 36px 0px 36px;
}
.item:nth-child(1), .item:nth-child(2), .item:nth-child(3) {
    margin-top: 4px;
}
.columnHidden {
	display: none;
}
#chart-container9 {
    margin-right: 18px;
    padding: 32px 37px 20px 37px;
}
.weightTableOuter {
	padding: 0px 69px 60px 69px;
}
#weightHistory {
	border-collapse: collapse;
		width: 65%;
		font-family:'Open Sans',sans-serif;
		font-size: 16px;
	margin: 0 auto;
}
#weightHistory th {
  text-align: left;
  background-color: #4b7bec;
  color: white;
  font-weight: 600;
}
#weightHistory td {
	font-weight: 500;
	color: #444;
}
#weightHistory td, #weightHistory th {
  border: 1px solid #ddd;
  padding: 10px 13px;
}
.wHistoryT {
	padding-bottom: 10px;
}
.wHistoryT p {
	color: #444;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.addButtonContainer {
    text-align: center !important;
    /*padding-bottom: 30px !important;*/
}
.mealSummary {
	background-color: #f9f9f9;
	border-radius: 6px;
}
.mealHeadingsC {
	padding: 34px 37px 0px 37px;
}
.mealType {
	width:100%;
	margin: 10px 0px;
	padding: 0px 37px 0px 37px;
}
.mealType p {
	padding: 8px 12px;
	background-color: #444;
	color:#fff;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 400;
	border-radius: 3px;
}
.mealTypeL {
	padding-bottom: 40px;
}
.pieChartContainer {
	width: 54%;
	float: left;
	margin-top: -12px;
}
.macroStats {
	width: 46%;
	float: left;
}
.macroStatsContainer {
	padding:2px 25px;
}
.macroStatsLeft {
	float:left;
}
.macroStatsLeft div {
	margin-bottom: -3px;
	margin-right: 8px;
	display:inline-block;
	width: 17px;
	height: 17px;
	background-color: green;
	border-radius: 4px;
}
.macroStatsLeft p {
	display: inline-block;
	font-size: 15px;
	color: #525252;
	font-weight: 400;
}
.macroStatsPercentage {
	float: right;
	font-size: 15px;
	color: #525252 !important;
	font-weight: 600;
}
.macroFatColour {
	background-color: #495C6F !important;
}
.macroProColour {
	background-color: #F46871 !important;
}
.macroCarbColour {
	background-color: #F3C76A !important;
}
.macroStatsInner {
    width: 250px;
    background-color: #eeeeee;
    margin-bottom: 10px;
    margin-top: 68px;
    border-radius: 5px;
    padding: 14px 0px;
}
.macroStatsRem {
	width: 250px;
    background-color: #F46871;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 14px 0px;
    cursor: pointer;
}
.macroStatsRem p {
	text-align: center;
	color: #fff;
}
.macroStatsRem > p:nth-child(1) {
	font-size: 18px;
	font-weight: 600;
}
.macroStatsRem > p:nth-child(2) {
	font-size: 14px;
}
#chart-container10 svg {
	background-color: transparent !important;
}
.targetHeadings {
	    padding: 24px 36px 0px 36px;
}
.targetsContainer {
	    padding: 24px 36px 32px 36px;
}
.targetHeadings p {
	font-size: 15px;
	font-weight: 400;
	color: #666;
}
.targetHeadings p:nth-child(2) {
	font-style: italic;
	color: #bbb;
}
.targetCircle {
	width: 80px;
	height: 80px;
	float: left;
	margin: 6px 10px;
	cursor: pointer;
}
.targetCircle2 {
	width: 80px;
	float: left;
	margin: 6px 10px;
	text-align: center;
}
.targetsFloat {
	float: left;
}
.targetCircle p {
	line-height: 80px;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	color: #888;
	border-radius: 100px;
	background-color: #EEEEEE;
	-webkit-transition: 0.6s ease;
	transition: 0.6s ease;
}
.targetCircle p:hover {
	background-color: #2ECC71;
	color: #fff;
}
.targetExplain {
	padding: 26px 36px 50px 36px;
}
.targetsOther {
	padding: 6px 36px 0px 36px;
}
.targetsOther p {
	color: #999;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
}
.targetExplain p {
	color: #bbb;
	font-size: 14px;
	font-weight: 300;
	text-decoration: underline;
	display: inline-block; /*Tooltip fix*/
}
#leanBodyMass {
	font-size: 14px;
	color: #999;
}
.prevWater {
    text-align: center;
    padding: 24px 0px 38px 0px;
}
.prevWater button {
	background-color: #fff;
	border: 2px solid #aaaaaa;
	padding: 10px;
	width: 180px;
	border-radius: 100px;
	color: #aaaaaa;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#foodTable {
	border-collapse: collapse;
	width: 100%;
}
#foodTable td {
	border: 1px solid #ddd;
	padding: 8px;
}
#foodTable tr:nth-child(even){
	background-color: #f2f2f2;
}
#foodTable tr:hover {
	background-color: #ddd;
}
#foodTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #45aaf2;
	color: white;
	padding-left: 10px;
}
.tableWrapper {
	width: 100%;
	/* margin: 10px 0px; */
	padding: 0px 37px 0px 37px;
}
#mealHeadings {
	border-collapse: collapse;
	width: 100%;
}
#mealHeadings td {
	border: 1px solid #ddd;
	padding: 8px;
	background-color: #444;
	color: #fff;
	text-decoration: underline;
}
.rowName {
	width: 150px;
}
.raphael-group-11-messageGroup text {
	font-size: 16px !important;
	font-family: 'Open Sans', sans-serif !important;
}
.raphael-group-128-plots text tspan {
	font-size: 16px !important;
    font-weight: 300 !important;
}
.raphael-group-128-plots text tspan:nth-child(2) {
    font-size: 22px !important;
    font-weight: 600 !important;
}
.raphael-group-128-plots text tspan:nth-child(2) {
    font-size: 22px !important;
    font-weight: 600 !important;
}
@media only screen and (max-width: 450px) {
	.mealHeadingsC {
	    padding: 34px 0px 0px 0px;
	}
	.mealType {
		padding: 0px;
		margin: 10px 0px 0px 0px;
	}
	.mealType p {
		border-radius: 0px;
	}
	.tableWrapper {
	    padding: 0px;
	}
	.rowName {
		width: 50px;
	}
}
@media only screen and (max-width: 536px) {
	.targetsFloat {
		float: none;
		display: block;
		width: 100%;
	}
	.targetCircle {
		width: 42%;
	}
	.targetCircle2 {
	    width: 50%;
	    margin: 6px 0px;
	}
}
@media only screen and (max-width: 385px) {
	.targetCircle {
	    width: 41%;
	}
}
@media only screen and (max-width: 358px) {
	.targetCircle {
	    width: 40%;
	}
}
@media only screen and (max-width: 335px) {
	.targetCircle {
	    width: 39%;
	}
}
@media only screen and (max-width: 1366px) {
	.pieChartContainer {
		width: 52%;
	}
	.macroStats {
		width: 48%;
	}
}
@media only screen and (max-width: 425px) {
	.weightTableOuter {
	    padding: 0px 0px 60px 0px;
	}
}
@media only screen and (max-width: 1300px) and (min-width: 768px) {
	.pieChartContainer {
	    width: 100%;
	    float: none;
	    margin-top: -20px;
	}
	.macroStats {
	    width: 100%;
	    float: none;
	    margin-top: -20px;
	}
	.macroStatsInner, .macroStatsRem {
		margin-top: 0;
		border-radius: 0px;
		width: 100%;
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 645px) {
	.pieChartContainer {
	    width: 100%;
	    float: none;
	    margin-top: -20px;
	}
	.macroStats {
	    width: 100%;
	    float: none;
	    margin-top: -20px;
	}
	.macroStatsInner, .macroStatsRem {
		margin-top: 0;
		border-radius: 0px;
		width: 100%;
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 366px) {
	.pieChartContainer {
		width: 112%;
		margin-left: -6%;
	}
	.raphael-group-131-plots text tspan:nth-child(2) {
		font-size: 22px !important;
		font-weight: 600 !important;
	}
	.raphael-group-131-plots text tspan {
		font-size: 16px !important;
	}
}
@media only screen and (max-width: 338px) {
	.pieChartContainer {
		width: 116%;
    	margin-left: -8%;
	}
}
@media only screen and (max-width: 329px) {
	.pieChartContainer {
		width: 118%;
    	margin-left: -9%;
	}
}